html,
body {
    height: 100%;
}


#butterfly {
    z-index: 1;
    height: 200px;

    width: auto;
    position: absolute;
}

#wateringcan {
    width: 200px;
    position: fixed;
    bottom: 40%;
    left: 40%;
}

#sea{
    z-index: 2;
    position: absolute;
    height: 1500px;
    width: auto;
}

.waterdrop {
    width: 20px;
    display:block;
    position: absolute;
}
.waterdrop2 {
    position: absolute;
    top: 150px;
    width: 20px;
}

#net {
    height: 600px;
    width: auto;
    position: absolute;

}

#cloud{
    z-index: 4  ;
    height: 200px;
    left: 100px;
    top: 100px;
    width: auto;
    position: absolute;
}
.apple {
    height: 50px;
    width: auto;
    position: absolute;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;

}

.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 20%;

}

#pirateShip{
    z-index: 3;
    height: 300px;
    width: auto;
    position: absolute;
}

body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}
.drops{
    width:100px;
    position:relative;
    height: 200px;
}

#bullet {
    z-index: 5;
    position: absolute;
    transform: scaleX(-1);
    max-width: 50px;
}

.bumblebee {
    width: 70px;
    position: absolute;
    bottom: 110px;
    z-index: 1;
    left: 88%;
}

.transformer {
    width: 400px;
    position: absolute;
    bottom: 20px;
    left: 78%;
    z-index: 1;

}

.flower {
    width: 200px;
    position: absolute;
    bottom: 20px;
    left: 85%;
}

.randDiv {
    position: fixed;
    bottom: 350px;
    left: 52%;
    height: 350px;
    width: 650px;
}
